#footer {
  background: rgba(15, 32, 39, 0.7); 
  text-align: center;
  padding: 15px 0;
  font-size: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  bottom: 0;
  width: 100%;
  backdrop-filter: blur(6px);
  box-shadow: 0 -2px 10px rgba(15, 32, 39, 0.7);
  user-select: none;
}
